# Created by .ignore support plugin (hsz.mobi)
.idea/encodings.xml
.idea/workspace.xml
.idea/scopes/scope_settings.xml
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.marvelScaleSettings
.marvelProjectSettings
.marvelToken

.idea/marvelapp_sketchplugin.iml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/inspectionProfiles/profiles_settings.xml

.idea/inspectionProfiles/Project_Default.xml

Marvel.sketchpluginbundle.sketchplugin/Contents/Sketch/logs/main.txt
