<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IPHONE_6</key>
	<dict>
		<key>name</key>
		<string>iPhone 6</string>
		<key>property</key>
		<string>iphone6-frame</string>
		<key>creatable</key>
		<true/>
		<key>icon</key>
		<string>device_iphone6_unactive</string>
		<key>size</key>
		<dict>
			<key>width</key>
			<integer>375</integer>
			<key>height</key>
			<integer>667</integer>
			<key>aspectRatioWidth</key>
			<integer>9</integer>
			<key>aspectRatioHeight</key>
			<integer>16</integer>
			<key>listViewCenterOffset</key>
			<integer>0</integer>
			<key>listViewCenterOffsetExpression</key>
			<integer>0</integer>
			<key>listViewPaddingTopScreen</key>
			<integer>-49</integer>
			<key>listViewWidth</key>
			<integer>125</integer>
			<key>exploreViewWidth</key>
			<integer>125</integer>
			<key>screenScale</key>
			<integer>2</integer>
		</dict>
		<key>colour</key>
		<dict>
			<key>black</key>
			<string>iphone6Black</string>
			<key>white</key>
			<string>iphone6White</string>
			<key>gold</key>
			<string>iphone6Gold</string>
		</dict>
	</dict>
	<key>IPHONE_6_LANDSCAPE</key>
	<dict>
		<key>name</key>
		<string>iPhone 6</string>
		<key>property</key>
		<string>iphone6-frame</string>
		<key>creatable</key>
		<true/>
		<key>colour</key>
		<dict>
			<key>black</key>
			<string>iphone6LandscapeBlack</string>
			<key>white</key>
			<string>iphone6LandscapeWhite</string>
			<key>gold</key>
			<string>iphone6LandscapeGold</string>
		</dict>
		<key>size</key>
		<dict>
			<key>width</key>
			<integer>667</integer>
			<key>height</key>
			<integer>375</integer>
			<key>aspectRatioWidth</key>
			<integer>16</integer>
			<key>aspectRatioHeight</key>
			<integer>9</integer>
			<key>listViewCenterOffset</key>
			<integer>-1</integer>
			<key>listViewCenterOffsetExpression</key>
			<integer>0</integer>
			<key>listViewPaddingTopScreen</key>
			<integer>-57</integer>
			<key>listViewWidth</key>
			<integer>191</integer>
			<key>exploreViewWidth</key>
			<integer>191</integer>
			<key>screenScale</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>IPHONE_6_PLUS</key>
	<dict>
		<key>name</key>
		<string>iPhone 6 Plus</string>
		<key>property</key>
		<string>iphone6plus-frame</string>
		<key>creatable</key>
		<true/>
		<key>icon</key>
		<string>device_iphone6plus_unactive</string>
		<key>size</key>
		<dict>
			<key>width</key>
			<integer>414</integer>
			<key>height</key>
			<integer>736</integer>
			<key>aspectRatioWidth</key>
			<integer>9</integer>
			<key>aspectRatioHeight</key>
			<integer>16</integer>
			<key>listViewCenterOffset</key>
			<integer>0</integer>
			<key>listViewCenterOffsetExpression</key>
			<integer>0</integer>
			<key>listViewPaddingTopScreen</key>
			<integer>-47</integer>
			<key>listViewWidth</key>
			<integer>125</integer>
			<key>exploreViewWidth</key>
			<integer>125</integer>
			<key>screenScale</key>
			<integer>3</integer>
		</dict>
		<key>colour</key>
		<dict>
			<key>black</key>
			<string>iphone6PlusGrey</string>
			<key>white</key>
			<string>iphone6PlusSilver</string>
			<key>gold</key>
			<string>iphone6PlusGold</string>
		</dict>
	</dict>
	<key>IPHONE_6_PLUS_LANDSCAPE</key>
	<dict>
		<key>name</key>
		<string>iPhone 6 Plus</string>
		<key>creatable</key>
		<true/>
		<key>property</key>
		<string>iphone6plus-frame</string>
		<key>colour</key>
		<dict>
			<key>black</key>
			<string>iphone6PlusLandscapeGrey</string>
			<key>white</key>
			<string>iphone6PlusLandscapeSilver</string>
			<key>gold</key>
			<string>iphone6PlusLandscapeGold</string>
		</dict>
		<key>size</key>
		<dict>
			<key>width</key>
			<integer>736</integer>
			<key>height</key>
			<integer>414</integer>
			<key>aspectRatioWidth</key>
			<integer>16</integer>
			<key>aspectRatioHeight</key>
			<integer>9</integer>
			<key>listViewCenterOffset</key>
			<integer>-1</integer>
			<key>listViewCenterOffsetExpression</key>
			<integer>0</integer>
			<key>listViewPaddingTopScreen</key>
			<integer>-56</integer>
			<key>listViewWidth</key>
			<integer>190</integer>
			<key>exploreViewWidth</key>
			<integer>190</integer>
			<key>screenScale</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>IPAD</key>
	<dict>
		<key>name</key>
		<string>iPad</string>
		<key>property</key>
		<string>ipad-frame</string>
		<key>creatable</key>
		<true/>
		<key>icon</key>
		<string>device_ipad_unactive</string>
		<key>size</key>
		<dict>
			<key>width</key>
			<integer>768</integer>
			<key>height</key>
			<integer>1024</integer>
			<key>aspectRatioWidth</key>
			<integer>3</integer>
			<key>aspectRatioHeight</key>
			<integer>4</integer>
			<key>listViewCenterOffset</key>
			<integer>0</integer>
			<key>listViewCenterOffsetExpression</key>
			<integer>0</integer>
			<key>listViewPaddingTopScreen</key>
			<integer>-38</integer>
			<key>listViewWidth</key>
			<integer>169</integer>
			<key>exploreViewWidth</key>
			<integer>169</integer>
			<key>screenScale</key>
			<integer>2</integer>
		</dict>
		<key>colour</key>
		<dict>
			<key>black</key>
			<string>iPadAirBlack</string>
			<key>white</key>
			<string>iPadAirWhite</string>
		</dict>
	</dict>
	<key>IPAD_LANDSCAPE</key>
	<dict>
		<key>name</key>
		<string>iPad</string>
		<key>property</key>
		<string>ipad-frame</string>
		<key>creatable</key>
		<true/>
		<key>size</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>768</integer>
			<key>aspectRatioWidth</key>
			<integer>4</integer>
			<key>aspectRatioHeight</key>
			<integer>3</integer>
			<key>listViewCenterOffset</key>
			<integer>0</integer>
			<key>listViewPaddingTopScreen</key>
			<integer>-34</integer>
			<key>listViewCenterOffsetExpression</key>
			<integer>0</integer>
			<key>listViewWidth</key>
			<integer>195</integer>
			<key>exploreViewWidth</key>
			<integer>195</integer>
			<key>screenScale</key>
			<integer>2</integer>
		</dict>
		<key>colour</key>
		<dict>
			<key>black</key>
			<string>iPadAirLandscapeBlack</string>
			<key>white</key>
			<string>iPadAirLandscapeWhite</string>
			<key>width</key>
			<integer>195</integer>
			<key>paddingTopScreen</key>
			<integer>34</integer>
			<key>aspectRatioHeight</key>
			<integer>3</integer>
			<key>aspectRatioWidth</key>
			<integer>4</integer>
			<key>centerOffset</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>WATCH42</key>
	<dict>
		<key>name</key>
		<string>Watch</string>
		<key>property</key>
		<string>apple-watch-42-frame</string>
		<key>creatable</key>
		<false/>
		<key>icon</key>
		<string>device_iwatch_unactive</string>
		<key>image</key>
		<string>watch2</string>
		<key>size</key>
		<dict>
			<key>width</key>
			<integer>156</integer>
			<key>height</key>
			<integer>195</integer>
			<key>aspectRatioWidth</key>
			<integer>4</integer>
			<key>aspectRatioHeight</key>
			<integer>5</integer>
			<key>listViewCenterOffset</key>
			<integer>0</integer>
			<key>listViewCenterOffsetExpression</key>
			<integer>-45</integer>
			<key>listViewPaddingTopScreen</key>
			<integer>-39</integer>
			<key>listViewWidth</key>
			<integer>65</integer>
			<key>exploreViewWidth</key>
			<integer>65</integer>
			<key>screenScale</key>
			<string>2</string>
		</dict>
	</dict>
	<key>WATCH38</key>
	<dict>
		<key>name</key>
		<string>Watch</string>
		<key>property</key>
		<string>apple-watch-38-frame</string>
		<key>creatable</key>
		<false/>
		<key>image</key>
		<string>watch2</string>
		<key>size</key>
		<dict>
			<key>width</key>
			<integer>136</integer>
			<key>height</key>
			<integer>170</integer>
			<key>aspectRatioWidth</key>
			<integer>4</integer>
			<key>aspectRatioHeight</key>
			<integer>5</integer>
			<key>listViewCenterOffset</key>
			<integer>0</integer>
			<key>listViewCenterOffsetExpression</key>
			<integer>-45</integer>
			<key>listViewPaddingTopScreen</key>
			<integer>-39</integer>
			<key>listViewWidth</key>
			<integer>65</integer>
			<key>exploreViewWidth</key>
			<integer>65</integer>
			<key>screenScale</key>
			<string>2</string>
		</dict>
	</dict>
	<key>IPHONE_4</key>
	<dict>
		<key>name</key>
		<string>iPhone 4</string>
		<key>property</key>
		<string>iphone4s-frame</string>
		<key>creatable</key>
		<true/>
		<key>icon</key>
		<string>device_iphone4_unactive</string>
		<key>size</key>
		<dict>
			<key>width</key>
			<integer>320</integer>
			<key>height</key>
			<integer>480</integer>
			<key>aspectRatioWidth</key>
			<integer>2</integer>
			<key>aspectRatioHeight</key>
			<integer>3</integer>
			<key>listViewCenterOffset</key>
			<integer>0</integer>
			<key>listViewCenterOffsetExpression</key>
			<integer>0</integer>
			<key>listViewPaddingTopScreen</key>
			<integer>-62</integer>
			<key>listViewWidth</key>
			<integer>124</integer>
			<key>exploreViewWidth</key>
			<integer>124</integer>
			<key>screenScale</key>
			<integer>2</integer>
		</dict>
		<key>colour</key>
		<dict>
			<key>black</key>
			<string>iPhone4SBlack</string>
			<key>white</key>
			<string>iPhone4SWhite</string>
		</dict>
	</dict>
	<key>IPHONE_4_LANDSCAPE</key>
	<dict>
		<key>name</key>
		<string>iPhone 4</string>
		<key>property</key>
		<string>iphone4s-frame</string>
		<key>creatable</key>
		<true/>
		<key>size</key>
		<dict>
			<key>width</key>
			<integer>480</integer>
			<key>height</key>
			<integer>320</integer>
			<key>aspectRatioWidth</key>
			<integer>3</integer>
			<key>aspectRatioHeight</key>
			<integer>2</integer>
			<key>listViewCenterOffset</key>
			<integer>0</integer>
			<key>listViewCenterOffsetExpression</key>
			<integer>0</integer>
			<key>listViewPaddingTopScreen</key>
			<integer>-64</integer>
			<key>listViewWidth</key>
			<integer>156</integer>
			<key>exploreViewWidth</key>
			<integer>156</integer>
			<key>screenScale</key>
			<integer>2</integer>
		</dict>
		<key>colour</key>
		<dict>
			<key>black</key>
			<string>iPhone4SLandscapeBlack</string>
			<key>white</key>
			<string>iPhone4SLandscapeWhite</string>
		</dict>
	</dict>
	<key>IPHONE_5S</key>
	<dict>
		<key>name</key>
		<string>iPhone 5</string>
		<key>property</key>
		<string>iphone5-frame</string>
		<key>creatable</key>
		<true/>
		<key>icon</key>
		<string>device_iphone5_unactive</string>
		<key>size</key>
		<dict>
			<key>width</key>
			<integer>320</integer>
			<key>height</key>
			<integer>568</integer>
			<key>aspectRatioWidth</key>
			<integer>9</integer>
			<key>aspectRatioHeight</key>
			<integer>16</integer>
			<key>listViewCenterOffset</key>
			<integer>0</integer>
			<key>listViewCenterOffsetExpression</key>
			<integer>0</integer>
			<key>listViewPaddingTopScreen</key>
			<integer>-58</integer>
			<key>listViewWidth</key>
			<integer>125</integer>
			<key>exploreViewWidth</key>
			<integer>125</integer>
			<key>screenScale</key>
			<integer>2</integer>
		</dict>
		<key>colour</key>
		<dict>
			<key>gold</key>
			<string>iphone5SYellow</string>
			<key>black</key>
			<string>iphone5SBlack</string>
			<key>white</key>
			<string>iphone5SWhite</string>
		</dict>
	</dict>
	<key>IPHONE_5S_LANDSCAPE</key>
	<dict>
		<key>name</key>
		<string>iPhone 5S</string>
		<key>property</key>
		<string>iphone5-frame</string>
		<key>creatable</key>
		<true/>
		<key>colour</key>
		<dict>
			<key>gold</key>
			<string>iphone5SLandscapeYellow</string>
			<key>black</key>
			<string>iphone5SLandscapeBlack</string>
			<key>white</key>
			<string>iphone5SLandscapeWhite</string>
		</dict>
		<key>size</key>
		<dict>
			<key>width</key>
			<integer>568</integer>
			<key>height</key>
			<integer>320</integer>
			<key>aspectRatioWidth</key>
			<integer>16</integer>
			<key>aspectRatioHeight</key>
			<integer>9</integer>
			<key>listViewCenterOffset</key>
			<integer>0</integer>
			<key>listViewCenterOffsetExpression</key>
			<integer>0</integer>
			<key>listViewPaddingTopScreen</key>
			<integer>-66</integer>
			<key>listViewWidth</key>
			<integer>173</integer>
			<key>exploreViewWidth</key>
			<integer>173</integer>
			<key>screenScale</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>IPHONE_5C</key>
	<dict>
		<key>name</key>
		<string>iPhone 5C</string>
		<key>property</key>
		<string>iphone5c-frame</string>
		<key>creatable</key>
		<false/>
		<key>colour</key>
		<dict>
			<key>red</key>
			<string>iphone5CRed</string>
			<key>blue</key>
			<string>iphone5CBlue</string>
			<key>green</key>
			<string>iphone5CGreen</string>
			<key>yellow</key>
			<string>iphone5CYellow</string>
			<key>white</key>
			<string>iphone5CWhite</string>
		</dict>
		<key>size</key>
		<dict>
			<key>width</key>
			<integer>320</integer>
			<key>height</key>
			<integer>568</integer>
			<key>aspectRatioWidth</key>
			<integer>9</integer>
			<key>aspectRatioHeight</key>
			<integer>16</integer>
			<key>listViewCenterOffset</key>
			<integer>0</integer>
			<key>listViewCenterOffsetExpression</key>
			<integer>0</integer>
			<key>listViewPaddingTopScreen</key>
			<integer>-58</integer>
			<key>listViewWidth</key>
			<integer>125</integer>
			<key>exploreViewWidth</key>
			<integer>125</integer>
			<key>screenScale</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>IPHONE_5C_LANDSCAPE</key>
	<dict>
		<key>name</key>
		<string>iPhone 5C</string>
		<key>property</key>
		<string>iphone5c-frame</string>
		<key>creatable</key>
		<false/>
		<key>colour</key>
		<dict>
			<key>black</key>
			<string>iphone5CLandscapeBlack</string>
			<key>white</key>
			<string>iphone5CLandscapeWhite</string>
			<key>red</key>
			<string>iphone5CLandscapeRed</string>
			<key>blue</key>
			<string>iphone5CLandscapeBlue</string>
			<key>green</key>
			<string>iphone5CLandscapeGreen</string>
		</dict>
		<key>size</key>
		<dict>
			<key>width</key>
			<integer>568</integer>
			<key>height</key>
			<integer>320</integer>
			<key>aspectRatioWidth</key>
			<integer>16</integer>
			<key>aspectRatioHeight</key>
			<integer>9</integer>
			<key>listViewCenterOffset</key>
			<integer>-2</integer>
			<key>listViewCenterOffsetExpression</key>
			<integer>0</integer>
			<key>listViewPaddingTopScreen</key>
			<integer>-68</integer>
			<key>listViewWidth</key>
			<integer>174</integer>
			<key>exploreViewWidth</key>
			<integer>174</integer>
			<key>screenScale</key>
			<string>2</string>
		</dict>
	</dict>
	<key>NEXUS_5</key>
	<dict>
		<key>name</key>
		<string>Nexus 5</string>
		<key>property</key>
		<string>nexus5-frame</string>
		<key>creatable</key>
		<false/>
		<key>size</key>
		<dict>
			<key>width</key>
			<real>1080</real>
			<key>height</key>
			<integer>1920</integer>
			<key>aspectRatioWidth</key>
			<integer>9</integer>
			<key>aspectRatioHeight</key>
			<integer>16</integer>
			<key>listViewCenterOffset</key>
			<integer>0</integer>
			<key>listViewCenterOffsetExpression</key>
			<integer>0</integer>
			<key>listViewPaddingTopScreen</key>
			<integer>-37</integer>
			<key>listViewWidth</key>
			<integer>125</integer>
			<key>exploreViewWidth</key>
			<integer>125</integer>
			<key>screenScale</key>
			<integer>1</integer>
		</dict>
		<key>image</key>
		<string>nexus5</string>
	</dict>
	<key>NEXUS_5_LANDSCAPE</key>
	<dict>
		<key>name</key>
		<string>Nexus 5</string>
		<key>property</key>
		<string>nexus5-frame</string>
		<key>creatable</key>
		<false/>
		<key>size</key>
		<dict>
			<key>width</key>
			<integer>1920</integer>
			<key>height</key>
			<integer>1080</integer>
			<key>aspectRatioWidth</key>
			<integer>16</integer>
			<key>aspectRatioHeight</key>
			<integer>9</integer>
			<key>listViewCenterOffset</key>
			<integer>-2</integer>
			<key>listViewCenterOffsetExpression</key>
			<integer>0</integer>
			<key>listViewPaddingTopScreen</key>
			<integer>-48</integer>
			<key>listViewWidth</key>
			<integer>197</integer>
			<key>exploreViewWidth</key>
			<integer>197</integer>
			<key>screenScale</key>
			<integer>1</integer>
		</dict>
		<key>image</key>
		<string>nexus5Landscape</string>
	</dict>
	<key>GALAXY_5</key>
	<dict>
		<key>name</key>
		<string>Galaxy 5</string>
		<key>property</key>
		<string>s5-frame</string>
		<key>creatable</key>
		<false/>
		<key>colour</key>
		<dict>
			<key>black</key>
			<string>galaxyS5Black</string>
			<key>white</key>
			<string>galaxyS5White</string>
		</dict>
		<key>size</key>
		<dict>
			<key>width</key>
			<real>1080</real>
			<key>height</key>
			<integer>1920</integer>
			<key>aspectRatioWidth</key>
			<integer>9</integer>
			<key>aspectRatioHeight</key>
			<integer>16</integer>
			<key>listViewCenterOffset</key>
			<integer>0</integer>
			<key>listViewCenterOffsetExpression</key>
			<integer>0</integer>
			<key>listViewPaddingTopScreen</key>
			<integer>-40</integer>
			<key>listViewWidth</key>
			<integer>125</integer>
			<key>exploreViewWidth</key>
			<integer>125</integer>
			<key>screenScale</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>GALAXY_5_LANDSCAPE</key>
	<dict>
		<key>name</key>
		<string>Galaxy 5</string>
		<key>property</key>
		<string>s5-frame</string>
		<key>creatable</key>
		<false/>
		<key>colour</key>
		<dict>
			<key>black</key>
			<string>galaxyS5LandscapeBlack</string>
			<key>white</key>
			<string>galaxyS5LandscapeWhite</string>
		</dict>
		<key>size</key>
		<dict>
			<key>width</key>
			<integer>1920</integer>
			<key>height</key>
			<integer>1080</integer>
			<key>aspectRatioWidth</key>
			<integer>16</integer>
			<key>aspectRatioHeight</key>
			<integer>9</integer>
			<key>listViewCenterOffset</key>
			<integer>0</integer>
			<key>listViewCenterOffsetExpression</key>
			<integer>0</integer>
			<key>listViewPaddingTopScreen</key>
			<integer>-51</integer>
			<key>listViewWidth</key>
			<integer>199</integer>
			<key>exploreViewWidth</key>
			<integer>199</integer>
			<key>screenScale</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>LUMNIA_920</key>
	<dict>
		<key>name</key>
		<string>Lumnia 920</string>
		<key>property</key>
		<string>lumia920-frame</string>
		<key>creatable</key>
		<false/>
		<key>colour</key>
		<dict>
			<key>black</key>
			<string>nokiaLumiaBlack</string>
			<key>white</key>
			<string>nokiaLumiaWhite</string>
			<key>red</key>
			<string>nokiaLumiaRed</string>
			<key>yellow</key>
			<string>nokiaLumiaYellow</string>
			<key>blue</key>
			<string>nokiaLumiaBlue</string>
		</dict>
		<key>size</key>
		<dict>
			<key>width</key>
			<integer>768</integer>
			<key>height</key>
			<real>1280</real>
			<key>aspectRatioWidth</key>
			<integer>9</integer>
			<key>aspectRatioHeight</key>
			<integer>15</integer>
			<key>listViewCenterOffset</key>
			<integer>0</integer>
			<key>listViewCenterOffsetExpression</key>
			<integer>0</integer>
			<key>listViewPaddingTopScreen</key>
			<integer>-38</integer>
			<key>listViewWidth</key>
			<integer>125</integer>
			<key>exploreViewWidth</key>
			<integer>125</integer>
			<key>screenScale</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>LUMNIA_920_LANDSCAPE</key>
	<dict>
		<key>name</key>
		<string>Lumnia 920</string>
		<key>property</key>
		<string>lumia920-frame</string>
		<key>creatable</key>
		<false/>
		<key>colour</key>
		<dict>
			<key>black</key>
			<string>nokiaLumiaLandscapeBlack</string>
			<key>white</key>
			<string>nokiaLumiaLandscapeWhite</string>
			<key>red</key>
			<string>nokiaLumiaLandscapeRed</string>
			<key>yellow</key>
			<string>nokiaLumiaLandscapeYellow</string>
			<key>blue</key>
			<string>nokiaLumiaLandscapeBlue</string>
		</dict>
		<key>size</key>
		<dict>
			<key>width</key>
			<integer>1280</integer>
			<key>height</key>
			<integer>768</integer>
			<key>aspectRatioWidth</key>
			<integer>15</integer>
			<key>aspectRatioHeight</key>
			<integer>9</integer>
			<key>listViewCenterOffset</key>
			<integer>-9</integer>
			<key>listViewCenterOffsetExpression</key>
			<integer>0</integer>
			<key>listViewPaddingTopScreen</key>
			<integer>-54</integer>
			<key>listViewWidth</key>
			<integer>177</integer>
			<key>exploreViewWidth</key>
			<integer>177</integer>
			<key>screenScale</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>HTC_1</key>
	<dict>
		<key>name</key>
		<string>HTC 1</string>
		<key>property</key>
		<string>htc-one-frame</string>
		<key>creatable</key>
		<false/>
		<key>image</key>
		<string>htcDark</string>
		<key>size</key>
		<dict>
			<key>width</key>
			<integer>1080</integer>
			<key>height</key>
			<real>1920</real>
			<key>aspectRatioWidth</key>
			<integer>9</integer>
			<key>aspectRatioHeight</key>
			<integer>16</integer>
			<key>listViewCenterOffset</key>
			<integer>0</integer>
			<key>listViewCenterOffsetExpression</key>
			<integer>0</integer>
			<key>listViewPaddingTopScreen</key>
			<integer>-43</integer>
			<key>listViewWidth</key>
			<integer>125</integer>
			<key>exploreViewWidth</key>
			<integer>125</integer>
			<key>screenScale</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>HTC_1_LANDSCAPE</key>
	<dict>
		<key>name</key>
		<string>HTC 1</string>
		<key>property</key>
		<string>htc-one-frame</string>
		<key>creatable</key>
		<false/>
		<key>image</key>
		<string>htcLandscapeDark</string>
		<key>size</key>
		<dict>
			<key>width</key>
			<integer>1920</integer>
			<key>height</key>
			<integer>1080</integer>
			<key>aspectRatioWidth</key>
			<integer>16</integer>
			<key>aspectRatioHeight</key>
			<integer>9</integer>
			<key>listViewCenterOffset</key>
			<integer>-6</integer>
			<key>listViewCenterOffsetExpression</key>
			<integer>0</integer>
			<key>listViewPaddingTopScreen</key>
			<integer>-56</integer>
			<key>listViewWidth</key>
			<integer>186</integer>
			<key>exploreViewWidth</key>
			<integer>186</integer>
			<key>screenScale</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>DEFAULT</key>
	<dict>
		<key>name</key>
		<string>Web</string>
		<key>property</key>
		<string>web-frame</string>
		<key>creatable</key>
		<false/>
		<key>size</key>
		<dict>
			<key>width</key>
			<integer>800</integer>
			<key>height</key>
			<integer>800</integer>
			<key>aspectRatioWidth</key>
			<integer>1</integer>
			<key>aspectRatioHeight</key>
			<integer>1</integer>
			<key>listViewCenterOffset</key>
			<integer>0</integer>
			<key>listViewCenterOffsetExpression</key>
			<integer>0</integer>
			<key>listViewPaddingTopScreen</key>
			<integer>-35</integer>
			<key>listViewWidth</key>
			<integer>235</integer>
			<key>exploreViewWidth</key>
			<integer>150</integer>
			<key>screenScale</key>
			<string>1</string>
		</dict>
	</dict>
</dict>
</plist>
